{
  box-sizing: border-box;
}

body {
  color: black;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

header {
  background-color: #ffe6e6;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  color: black;
}

section {
  display: -webkit-flex;
  display: flex;
}

aside {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 17px;
  background-color: #fff5f5;
}

dl {
  color: black;
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  text-decoration: none;
  line-height: 1.5;
  font-size: 15px;
}

dt {
  color: black;
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  text-decoration: underline;
  font-size: 15px;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  color: #ffe6e6;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


h1 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-weight: 60;
  font-size: 60px;
}

h2, h3, h4 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-weight: 300;
  font-size: 20px;
}

h5,h6 {
  color: black;
  font-family: 'Abril Fatface', cursive;
  font-weight: 300;
  padding: 0px;
  font-size: 25px;
}

h7 {
  color: black;
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  text-decoration: underline;
  font-size: 15px;
}
p {
  color: black;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 20px;
  padding-top: 0px;
}

footer {
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: black;
  background-color: #ffe6e6;
}

a:link {
  color: pink;
  background-colour: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background color: transparent;
  text-decoration: none;
}
